<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 't_login.css' %}">
</head>
<body>
    <div class="container">
        <h1>Teacher Login</h1>
        <form action="teacher_login" id="forms" method="POST">
            {% csrf_token %}
            <div>
                <label for="username">Username/ID:</label>
                <input type="text" id="username" name="t_ids" placeholder="@username" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="passwordss" placeholder="password" required>
            </div>
            <button type="submit" class="btn btn-submit">Log In</button>
            <button type="reset" class="btn btn-reset">Reset</button>
        </form>
        <div id="message">{{error}}</div>
    </div>    
</body>
</html>
